@media only screen and  (max-width:768px){
    .navbar__nav{
        a{
            display: none;
        }
        .fa-bars{
            display: block;
        }
        .fa-search{
            display: none;
        }
    }
    .header{
        @include card();
        padding: 0;
        background-image: url(/images/banner.jpg);
        background-size: cover;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .banner{
            @include grid(100%);
            gap: 0rem;
            color: #fff;
        
            .guard{
                width: 12px;
                p{
                    text-align: center;
                    word-break: break-word;
                    text-transform: uppercase;
                }
            }
            .text{
                padding: 0;
                h2{
                    font-size: 2.6rem;
                }
                h1{
                    font-size: 3rem;
                }
                button{
                    @include btn(blue, #fff, black, red);
                    margin-top: 1rem;
                    border-radius: 0;
                    img{
                        width: 20%;
                        height: 20%;
                        display: inline;
                    }
                }
            }
        }
    }
    .welcome__content{
        @include grid(1fr);
    }
    .services__content{
        @include grid(100%);
    }
}