* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
}

a {
  color: rgba(0, 0, 0, 0);
}

body {
  line-height: 1.5;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.navigation {
  width: 100%;
  height: 20vh;
  background-color: #1F233E;
}
.navigation .navbar {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .navbar .nav__logo img {
  width: 60%;
  height: 60%;
}
.navigation .navbar .navbar__nav a {
  color: #fff;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.3rem;
}
.navigation .navbar .navbar__nav .fa-search {
  font-size: 1.3rem;
  color: #fff;
}
.navigation .navbar .navbar__nav .fa-bars {
  color: #fff;
  font-size: 1.3rem;
  display: none;
}

.header {
  width: 100%;
  padding: 4rem 0;
  padding: 0;
  background-image: url(/images/banner.jpg);
  background-size: cover;
}
.header .banner {
  display: grid;
  grid-template-columns: 90% 10%;
  gap: 3rem;
  gap: 5rem;
  height: 100%;
  align-items: center;
  color: #fff;
}
.header .banner .guard {
  width: 12px;
}
.header .banner .guard p {
  text-align: center;
  word-break: break-word;
  text-transform: uppercase;
}
.header .banner .text {
  padding: 10rem;
}
.header .banner .text h2 {
  font-size: 2.6rem;
}
.header .banner .text h1 {
  font-size: 3rem;
}
.header .banner .text button {
  padding: 10px 20px;
  background-color: blue;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 30px;
  transition: all 0.5s linear;
  border: 0;
  margin-top: 2rem;
  border-radius: 0;
}
.header .banner .text button:hover {
  background-color: black;
  color: red;
}
.header .banner .text button img {
  width: 20%;
  height: 20%;
  display: inline;
}

.welcome {
  width: 100%;
  padding: 4rem 0;
}

.welcome__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  gap: 5rem;
}
.welcome__content .item h3 {
  font-size: 1.8rem;
  border-bottom: 1px solid green;
  display: inline;
  color: blue;
}
.welcome__content .item h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.welcome__content .item button {
  padding: 10px 20px;
  font-size: 1.3rem;
  border: 0;
  background-color: white;
  margin-top: 2rem;
  border-radius: 0;
}
.welcome__content .item button img {
  width: 20%;
  height: 20%;
  display: inline;
}

.services {
  width: 100%;
  padding: 4rem 0;
  text-align: center;
}
.services .title {
  text-align: center;
  margin-bottom: 1rem;
  -moz-text-align-last: left;
       text-align-last: left;
}
.services .title h3 {
  font-size: 2rem;
  color: #002aff;
  border-bottom: 1px solid green;
  display: inline;
}
.services .title h2 {
  font-size: 2.2rem;
}
.services button {
  padding: 10px 20px;
  font-size: 1.3rem;
  background-color: white;
  border: 0;
  margin-top: 0.5rem;
}
.services button img {
  width: 20%;
  height: 30%;
  display: inline;
}

.services__content {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 3rem;
  gap: 0;
}
.services__content .item {
  height: 70vh;
  background-image: url(/images/s-1.jpg);
  background-size: 100% 80vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__content .item:hover a {
  padding: 1.3rem 1.2rem;
  background-color: #002aff;
}
.services__content .item a {
  color: #fff;
}
.services__content .item2 {
  height: 70vh;
  background-image: url(/images/s-2.jpg);
  background-size: 100% 80vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__content .item2:hover a {
  padding: 1.3rem 1.2rem;
  background-color: #002aff;
}
.services__content .item2 a {
  color: #fff;
}

.ser__content {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 3rem;
  gap: 0;
}
.ser__content .item {
  height: 70vh;
  background-image: url(/images/s-3.jpg);
  background-size: 100% 80vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ser__content .item:hover a {
  padding: 1.3rem 1.2rem;
  background-color: #002aff;
}
.ser__content .item a {
  color: #fff;
}
.ser__content .item2 {
  height: 70vh;
  background-image: url(/images/s-4.jpg);
  background-size: 100% 80vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ser__content .item2:hover a {
  padding: 1.3rem 1.2rem;
  background-color: #002aff;
}
.ser__content .item2 a {
  color: #fff;
}

.security {
  width: 100%;
  padding: 4rem 0;
  text-align: center;
  margin: 0 auto;
}
.security .title {
  text-align: center;
  margin-bottom: 1rem;
}
.security .title h3 {
  font-size: 2rem;
  color: #002aff;
  border-bottom: 1px solid green;
  display: inline;
}
.security .title h2 {
  font-size: 2.2rem;
}
.security button {
  padding: 10px 20px;
  font-size: 1.3rem;
  background-color: white;
  border: 0;
  margin-top: 0.5rem;
}
.security button img {
  width: 20%;
  height: 30%;
  display: inline;
}

.security__content .item {
  width: 20%;
  height: 70vh;
  background-image: url(/images/security-1.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.security__content .item:hover a {
  opacity: 1;
}
.security__content .item a {
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid white;
  opacity: 0;
}
.security__content .item2 {
  width: 20%;
  height: 70vh;
  background-image: url(/images/security-2.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.security__content .item2:hover a {
  opacity: 1;
}
.security__content .item2 a {
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid white;
  opacity: 0;
}
.security__content .item3 {
  width: 20%;
  height: 70vh;
  background-image: url(/images/security-3.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.security__content .item3:hover a {
  opacity: 1;
}
.security__content .item3 a {
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid white;
  opacity: 0;
}

.our {
  width: 100%;
  padding: 4rem 0;
}

.our__content {
  padding: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  background-color: whitesmoke;
  box-shadow: 0 0 20px black;
  align-items: center;
}
.our__content .item h3 {
  font-size: 2rem;
  color: #002aff;
  border-bottom: 1px solid green;
  display: inline;
}
.our__content .item h2 {
  font-size: 2.2rem;
}
.our__content button {
  padding: 10px 20px;
  font-size: 1.3rem;
  background-color: whitesmoke;
  border: 0;
  margin-top: 0.5rem;
}
.our__content button img {
  width: 20%;
  height: 30%;
  display: inline;
}

.contact {
  width: 100%;
  padding: 4rem 0;
  padding: 0;
  gap: 0;
}

.contact__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  gap: 0;
}
.contact__content .item {
  background-image: url(/images/guards.jpg);
}
.contact__content .item form {
  width: 60%;
  height: 50vh;
  background-color: #fff;
  margin-top: 5rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.contact__content .item form input {
  height: 10vh;
  margin-bottom: 0.5rem;
  border: 0;
  border-bottom: 1px solid green;
  font-size: 1.3rem;
}
.contact__content .item form button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  font-size: 1.2rem;
  border-radius: 30px;
  transition: all 0.5s linear;
  border: 0;
  border-radius: 0;
  width: 50%;
}
.contact__content .item form button:hover {
  background-color: black;
  color: red;
}

.footer {
  width: 100%;
  padding: 4rem 0;
  background-color: black;
  color: #fff;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.footer__content a {
  color: #fff;
  display: block;
  left: 10px;
  margin-bottom: 1rem;
}
.footer__content a img {
  width: 10%;
  height: 10%;
  display: inline;
}
.footer__content h2 {
  margin-bottom: 1rem;
}
.footer__content .item1 {
  padding: 2rem;
}
.footer__content .item form input {
  width: 80%;
  height: 10vh;
  font-size: 1.3rem;
  border: 0;
  outline: 0;
  text-indent: 10px;
}
.footer__content .item .fa-brands {
  padding: 7px 10px;
  font-size: 1.3rem;
  margin-top: 1rem;
}
.footer__content button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  font-size: 1.2rem;
  border-radius: 30px;
  transition: all 0.5s linear;
  border: 0;
  margin-top: 1rem;
}
.footer__content button:hover {
  background-color: red;
  color: black;
}

.copy {
  padding: 2rem;
  background-color: #002aff;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
}
.copy a {
  color: #fff;
}/*# sourceMappingURL=style.css.map */